.h2{
    color: rgb(40, 115, 234);
    text-align: center;
    font-size: 55px;
    
}
.email{
    width: 300px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #000;
    font-weight: 700;
    font-size: 18px;
}
form{
    text-align: center;
    background-color: white;
    border: 1px solid #000;
    width: 400px;
    border-radius: 10px;
}
body {
    background-color: #f1f1f1;
}
button{
    color: white;
    border: none;
    width: 300px;
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 7px;
    background-color: rgb(12, 133, 232);
}
.subtitle{
    font-weight: 400;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: rgb(0, 47, 255);
    font-size: 20px;
}
.p1{
    color: rgba(96, 96, 116, 0.407);
}
.green{
    background-color: greenyellow;
}